# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

dependency-reduced-pom.xml
docs/example/apache-jmeter-5.2
docs/example/*_report
docs/example/*.csv
docs/example/*.log